html {
    scroll-behavior: smooth;
    background-color: #fff;
}

p {
    font-family: 'Cygre';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;

    color: #000000;
}

.text-main {
    font-family: 'Cygre';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;

    color: #000000;

}


.block-content {
    padding-bottom: 150px;
}



.title-main{
    font-family: 'PP Neue Machina';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;

    color: #000000;
    margin-bottom: 25px;
}

.number{
    font-family: 'PP Neue Machina';
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    
    color: #331958;
}

.result{
    margin-bottom: 100px;
}
.progress::-webkit-progress-value{
    background: #331958;
}

.columns-block{
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-project{
    margin-top: 50px;
    padding: 20px 110px;
    box-sizing: border-box;
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 10px;

}


.box {
    box-sizing: border-box;
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 10px;
    height: 125px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.grey {
    color: #807C7C;
}

.subtitle-main {
    font-family: 'Cygre';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;

    color: #000000;

    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.white {
    color: #fff;
}

.stage-article {
    width: 545px; 
    word-wrap: break-word;
    display: flex;
    align-items: center;
}

.stage-text {
    color: #9D9C9C;
}

.last-stage{
    box-sizing: border-box;
    background: #331958;
    border: 1px solid #000000;
    border-radius: 10px;
    height: 125px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.question{
    margin-bottom: 100px;
}

.button-back {
    padding: 15px 40px;
    background: #CBC8C8;
    border-radius: 40px;
    color: #FFFFFF;
}

.button-next {
    padding: 15px 40px;
    background: #CBC8C8;
    border-radius: 40px;
    color: #FFFFFF;
    background-color: #000000;
}

.faq-title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.faq-item {
    border-bottom: 1px solid #ccc; 
    padding: 10px 0;
}

.faq-question {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    cursor: pointer; 
}

.faq-answer {
    margin-top: 10px; 
    padding-left: 20px; 
}


.signs {
    font-family: 'PP Neue Machina';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;

    color: #33363F;

}

.contact-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 90px 60px;
    background-image: url('/../../public/background-image-contact.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 15px;
    max-width: 1200px;
    margin: 0 auto;
    border-radius: 65px;
    

  }
  
  .left-block {
    color: white;
    max-width: 500px;
  }
  
  .left-block h2 {
    font-size: 2rem;
    margin-bottom: 4px;
  }
  
  .pt-150{
    padding-top:150px;
  }
  
  .phone-number {
    text-decoration: none;
    color: white;
    font-family: 'PP Neue Machina';
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    
  }

  .text-bio {
    margin-bottom: 70px;
  }

  .design-text{
    text-decoration: none;
    color: white;
    font-family: 'PP Neue Machina';
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    margin-top: 135px;
  }

  .design {

  }
  
  .design-text{
    font-family: 'PP Neue Machina';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 39px;

    color: #FFFFFF;


  }
  
  .right-block {
    background-color: white;
    padding: 32px 88px;
    max-width: 500px;
    border-radius: 65px;

  }

  .contact-logo {
    margin-bottom: 50px;
  }

  .contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  

  
  .contact-form p {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .contact-form input {
    width: 100%;
    padding: 11px;
    margin-bottom: 15px;
    font-size: 1rem;
    border: 0;

    background: #EBEAEA;
    border-radius: 509px;

  }

  .contact-form input::placeholder {
    font-family: 'Cygre';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;

    color: #000000;
  }
  
  .submit-button {
    margin: 20px 0 20px 0;
    width: 100%;
    padding: 24px 114px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background: #331958;
    

  }


  .label {
    display: flex;
    gap:5px;
  }
  
  .privacy-policy {
    margin-top: 10px;
    font-size: 0.9rem;
    text-align: center;
    color: grey;
  }
  
  .title-contact {
    font-family: 'PP Neue Machina';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    max-width: 365px;
    line-height: 39px;

    color: #FFFFFF;


  }


  .banner {
    position: relative;
    width: 100%;
    background-image: url('/../../public/banner-img.png'); 
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    padding: 35px 35px 80px 35px;
  }
  
  
  .banner-content {
    text-align: center;
    margin-top: 50px;
    width: 100%;
  }
  
  .title {
    font-size: 5rem;
    font-weight: bold;
  }
  
  .subtitle {
    font-size: 1.5rem;
    margin-top: 20px;
  }
  
  .details {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 50px;
    font-size: 1.2rem;
    text-align: start;
    flex-direction: column;
    margin-top: 310px;

  }
  
  .details p {
    margin: 0;
  }
  
  .banner-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  
  .navbar-transparent {
    background-color: transparent;
  }

  .grey {
    color: #666
  }


  .catalog-href{
    padding: 80px 0 45px 0;
  }


  .panel-heading {
    background: #FFFFFF;
    border: 1px solid #e5e5e5;
    color: #000;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .image img {
    border-radius: 10px;
  }
  
  .has-text-centered {
    font-weight: bold;
    margin-top: 10px;
  }

.panel-block {
    background: #FFFFFF;
    border: 1px solid #e5e5e5;
    color: #000;
    transition: border-left 0.1s ease, color 0.2s ease;
}

.panel-block:not(:last-child), .panel-tabs:not(:last-child){
    border-bottom: 1px solid #e5e5e5;
}

.panel-block:hover:not(.is-active) {
    background-color: #fff;
    color: #4e4e4e;
}

.panel-block.is-active {
    color: #000;
    border-left: 5px solid #331958;
    animation: activateAnimation 0.2s ease;
}

@keyframes activateAnimation {
    0% {
        border-left: 0;
    }
    100% {
        border-left: 5px solid #331958;
    }
}

  .panel-block.is-active:hover{
    background-color: #fff;
  }


  .catalog {
    padding: 20px;
}

.card {
  border: 1px solid #e5e5e5;
  border-radius: 8px;
  transition: transform 0.3s ease-in-out;
  overflow: hidden;
  cursor: pointer;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.card-image img {
  transition: transform 0.3s ease-in-out;
}

.card:hover .card-image img {
  transform: scale(1.05);
}

.has-text-centered.grey {
  font-size: 1.1rem;
  color: #555;
  margin-top: 10px;
}

.image.is-4by3 img {
  width: 100%;
  height: auto;
}

.project-card {
    background-color: #fff;
    border-radius: 8px;
    padding: 15px;
    position: relative;
    color: #fff;
    display: flex;
    min-height: 400px;
    flex-direction: column;
    height: 100%;
}

.card-image img {
  border-radius: 8px;
  transition: transform 0.3s ease-in-out;
}

.project-card:hover .card-image img {
  transform: scale(1.05);
}

.tags-wrapper {
  position: absolute;
  top: 10px;
  left: 10px;
}

.tag {
  margin-right: 5px;
  padding: 5px 10px;
  font-size: 12px;
  border-radius: 4px;
}

.card-content {
  padding: 15px 0 0 0;
}

.project-subtitle {
  font-size: 12px;
  color: #bdbdbd;
  margin-bottom: 5px;
}

.project-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 15px;
}

.project-price {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    min-height: 50px;
}

.new-price {

}

.old-price {
  font-size: 14px;
  text-decoration: line-through;
  color: #bdbdbd;
}

.discount {
    display: flex;
    gap: 15px;
    align-items: center;
}

.discount-price {
    font-size: 14px;
    padding: 2px 4px;
    color: black;
    background: #ffd600;
    cursor: pointer;
    border-radius: 5px;
}

.button.is-primary {
    background-color: #fff;
    border: none;
    padding: 10px 20px;
    color: #331958;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid #331958;
}

.button.is-primary:hover {
    background-color: #46217a;
    color: #fff;
}


.filter-container {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    color: black;
}

.sort-by {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    border: 1px solid #e5e5e5;
    padding: 10px;
}

.sort-by select {
    margin-left: 10px;
    padding: 5px;
    color: #000000;
    border: none;
    border-radius: 5px;
    background: #fff;
}

.filter-options {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.filter-options button {
    padding: 8px 12px;
    color: black;
    background: #FFFFFF;
    border: 1px solid #e5e5e5;
    cursor: pointer;
    border-radius: 5px;
    transition: border 0.3s;
}

.button.is-active-filter {
    background-color: #331958;
    color: white;
    border: transparent;
}

.filter-options button.active {
    background-color: #331958;
    color: #fff;
    border: 1px solid #fff;
}

.filter-options button:hover {
    border-color: transparent;
}


.column is-one-third{
    height: 100%
}

.panel-heading {
    border-radius: 0;
}

.panel-block {
    border-top: 0
}

.panel-block.is-active:hover {
    background-color: #fff;
}

.panel-block:last-child {
    border-radius: 0;
}

.dropdown-content {
    background: #fff;
    border: 1px solid #686868;
    color: #000;
}

.dropdown-btn {
    margin-top: 10px;
    width: 100%;
}

.panel-block:hover {
    background-color: transparent !important;
}



.container {
    max-width: 1200px;
    margin: 0 auto;
}

.breadcrumbs {
    margin: 20px 0;
}

.breadcrumbs a {
    color: #999;
    text-decoration: none;
}

.breadcrumbs span {
    font-weight: bold;
}

.main-image-section {
    position: relative;
    margin-bottom: 40px;
}

.house-image {
    width: 100%;
    height: auto;
}

.house-info {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
}

.house-details {
    display: flex;
    gap: 20px;
}

.gallery-section {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 0 0 48px 0;
}

.gallery-item {
    width: 48%;

}

.gallery-item:nth-child(3n) {
    width: 100%;
}

.gallery-item img {
    width: 100%;
    height: auto;
}

.price-section {
    top: 100px;
    width: 350px;
    position: sticky;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-shrink: 0;
    border-radius: 4px;
}

.price-details {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.current-price {
    font-size: 24px;
    color: #e74c3c;
}

.old-price {
    text-decoration: line-through;
    color: #999;
}

.discount {
    color: #27ae60;
}

.order-button
{
    margin-top: 10px;
    padding: 10px 20px;
    border: none;
    background-color: #331958;
    color: white;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
}

.question-button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: transparent;
    color: #331958;
    cursor: pointer;
    border: 1px solid #331958;
    border-radius: 5px;

}




.order-button:hover {
    background-color: #4e2888;
}


.question-button:hover {
    background-color: #4e2888;
    color: #fff;
}

.guarantee-info {
    margin-top: 10px;
    color: #7f8c8d;
    font-size: 13px;
}

.section-house__title {
    padding: 35px;
}

.block-special {
    padding: 0 35px 35px 35px;
    display: flex;
}

.block-special__item{
    display: flex;
    width: 250px;
    flex-direction: column;
    align-items: flex-start;
}

.block-special__item:last-child{
    text-decoration: underline dotted;
    color: #fff;
}

.info-house{
    display: flex;
    gap: 50px;
    align-items: flex-start;
    padding: 48px 0 0 0 ;
}

.price-section{
    width: 350px;
    padding: 26px 32px 32px 32px;
    box-shadow: 0px 0px 4px 0px rgba(109, 109, 109, 0.5);
}

.project-info__title {
    margin-bottom: 20px;
}

.comparison-button{
    margin-top: 10px;
    padding: 5px 10px;
    background-color: transparent;
    color: #331958;
    cursor: pointer;
    border: 1px solid #331958;
    border-radius: 5px;
}

.comparison-button:hover {
    background-color: #4e2888;
    color: #fff;
}

.info-buttons{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.tizer-block {
    box-shadow: 0px 0px 4px 0px rgba(109, 109, 109, 0.5);
}

.tizer-list {
    display: flex;
    padding: 40px 24px 35px 24px;
}

.layout-block {
    padding-top: 40px;
}

.layout-title {
    margin-bottom: 30px;
}

.interior-title{
    margin-bottom: 20px;
}

.layouts {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 0 0 40px 0;
    width: 100%;
}

.layouts img {
    max-width: 450px;
    height: auto;
    object-fit: contain;
    box-shadow: 0px 0px 4px 0px rgba(109, 109, 109, 0.5);
}

.interiors{}

.interiors{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 0 0 40px 0;
    width: 100%;
}

.interiors img {
    max-width: 450px;
    height: auto;
    object-fit: contain;
    box-shadow: 0px 0px 4px 0px rgba(109, 109, 109, 0.5);
}

.facade-block {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}


.facade-title {
    margin-bottom: 20px;
}

.facades {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 0 0 40px 0;
    width: 100%;
}

.facades img {
    max-width: 450px;
    height: auto;
    object-fit: contain;
    box-shadow: 0px 0px 4px 0px rgba(109, 109, 109, 0.5);
}


.tabs-nav {
    display: flex;
    padding-bottom: 30px;

}

.tab-nav > li{
    margin-top: 10px;
    padding: 10px 20px;
    background-color: transparent;
    color: #331958;
    cursor: pointer;
    border: 1px solid #331958;
    border-radius: 5px;
}

.house-nav li {
    cursor: pointer;
    padding: 10px 20px;
    margin-right: 5px;
    transition: background-color 0.3s ease;
    margin-top: 10px;
    color: #555555;
    border: 1px solid #bfbfbf;

}

.house-nav li {
    cursor: pointer;
    padding: 10px 20px;
    margin-right: 5px;
    transition: background-color 0.3s ease;
    border-top: 1px solid #bfbfbf;
}


.house-nav li:hover {
}

.house-nav li.active {
    font-weight: bold;
    color: #331958;
    border-top: 3px solid #331958;
}

.characteristics-title {
    margin-bottom: 20px;
    font-family: 'Cygre';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: #000000;
}

.all-section {
    padding-bottom: 80px;
}


.characteristics-info {
    padding: 20px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    font-size: 16px;
}

.characteristics-info table {
    width: 100%;
    border-collapse: collapse;
}

.characteristics-info td {
    padding: 10px 0;
    color: #333;
    vertical-align: top;
}

.characteristics-info td:first-child {
    text-align: left;
    padding-right: 10px;
    white-space: nowrap;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.characteristics-info td:first-child::after {
    content: "";
    display: block;
    border-bottom: 1px dotted #000000;
    flex-grow: 1;
    margin-left: 10px;
}

.characteristics-info td:last-child {
    width: 20%;
    white-space: nowrap;
}



.tarrif-list {
    display: flex;
    flex-direction: column;
}



.tarrif-list__item {
    padding: 20px;
    display: flex;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.tarrif-list__item:hover {
    border-color: transparent;
    box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.2);
}


.tarrif-list__info{
    display: flex;
    padding-left: 39px;
}

.tarrif-list__price {

}

.tarrif-img{
    border-radius: 50%;
    height: 120px;
    width: 120px;
}

.tarrif-list__head {
    display: flex;

}

.tarrif-list__head h3 {
    padding-left: 20px;
    padding-right: 20px;
}

.tarrif-list__text p{
    max-width: 310px;
}

.subtitle {
    font-family: 'PP Neue Machina';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    margin: 0;
    color: #000000;
}

.tariff-title{
    margin-bottom: 20px;
    font-family: 'Cygre';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: #000000;
}

.documents-title {
    margin-bottom: 20px;
    font-family: 'Cygre';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: #000000;
}

.documents-list {
    width: 100%;
}

.documents-list__item {
    display: flex;
    padding: 27px 32px;
    border: 1px solid #e0e0e0;
    align-items: center;
    border-radius: 4px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.documents-list__item:hover {
    border-color: transparent;
    box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.2);
}



.documents-list__item img {
    width: 100px;
    height: 100px;
    margin-right: 20px;
}

.documents-list__info {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
}

.documents-list__info article {
    display: flex;
    flex-direction: column;
}

.download-icon {
    font-size: 20px;
    cursor: pointer;
    transition: color 0.3s ease;
}

.documents-list__item:hover .download-icon {
    color: #331958;
}


.dropdown-item {
    font-family: 'Cygre';
    font-style: normal;
    font-weight: 400;

    color: #000000;
    padding: 10px;
    font-size: 14px;
    background-color: #f9f9f9;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
    transition: background-color 0.3s ease;

}


.dropdown-item:hover {
    background-color: #eee;
}


.dropdown-item.active {
    background-color: #331958;
    color: white;
}


.dropdown-item:last-child {
    border-bottom: none;
}

.dropdown-item label {
    display: flex;
    align-items: center;
}

.dropdown-item input[type="checkbox"] {
    margin-right: 8px;
}

.navbar {
    position: sticky;
    top: 0;
    z-index: 999;
    transition: background-color 0.3s ease;
    width: 100vw;
}

.navbar-scrolled {
    background-color: rgba(255, 255, 255, 0.9);
}




.container {
    padding: 10px;
    width: 100vw !important;
}

.navbar-item.mr-5.text-main:hover {
    color: #331958;
}


.navbar-item:hover {
    color: #331958;
    background-color: transparent;
}

.navbar-link, a.navbar-item{
    background-color: transparent;
}

.description-title{
    margin-bottom: 20px;
    font-family: 'Cygre';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: #000000;
}

.region {
    fill: #ccc;
    transition: fill 0.3s ease;
}

.region:hover {
    fill: #2ecc71;
}

.novgorod-region {
    fill: #3498db;
    transition: transform 0.5s ease;
}

.novgorod-region:hover {
    cursor: pointer;
    fill: #2980b9;
}


.russia-map-container {
    position: relative;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.novgorod-region {
    cursor: pointer;
    transition: fill 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.novgorod-region:hover {
    fill: #2980b9;
    box-shadow: 0 0 10px 3px rgba(52, 152, 219, 0.7);
}

.map-info__box{
    position: absolute;
    right: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    z-index: 10;
    width: 350px;
}


.map-subtitle {
    font-family: 'PP Neue Machina';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;

    color: #000000;
    margin-bottom: 25px;
}

.leaflet-popup-content-wrapper, .leaflet-popup-tip{
    border-radius: 4px !important;

}

.oficce-block__info {

}

.oficce-block__info strong {
    font-size: 1.2em;
    color: #007bff;
    margin-bottom: 20px;
}


.oficce-block__time span{


}

.oficce-headers{
    font-family: 'Cygre';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;

    color: #737171;
}

.oficce-text{
    margin: 0;
}

.oficce-info p {
    margin-bottom: 40px;
}

.navbar-logo {
    display: flex;
    align-items: end;
}

.logo{
    color:#000;
}

.logo-footer{
    color:#fff;
}

.icon-reviews {
    color:#331958;
    fill:#331958;
}

.review-text{
    margin-bottom: 20px;
}


.review-file img {
    width: 60px;
    height: 100%;
}

.review-file {
    display: flex;
    gap: 15px
}

.about img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 50px;
}

.about-text p {
    margin-bottom: 25px;
}

.about-list {
    list-style-type: none;
    padding: 0;
    margin-bottom: 25px;
}

.about-list li {
    position: relative;
    padding-left: 20px;
    margin-bottom: 10px;
}

.about-list li::before {
    content: '-';
    position: absolute;
    left: 0;
    color: black;
    font-weight: bold;
}

.history-item__text h3{
    font-family: 'PP Neue Machina';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;

    color: #000000;
    margin-bottom: 15px;
}

.history-item {
    padding: 39px 48px 39px 48px;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    display: flex;
}

.history-content {
    display: flex;
    flex: 1;
    margin-left: 20px;
}

.history-img {
    flex: 0 0 200px;
    margin-left: 20px;
}

.history-img img {
    max-width: 400px;
    border-radius: 8px;
}


.history-item__text {
    display: flex;
    flex-direction: column;
}

.year {
    flex: 0 0 100px;
    font-size: 2rem;
    font-weight: bold;
    color: #000;
}

.review-box {
    box-sizing: border-box;
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
}

.review-input {
    width: 100%;
    padding: 11px;
    margin-bottom: 15px;
    font-size: 1rem;
    border-radius: 2px;
    border: 1px solid #e5e5e5;
}

.review-textarea {
    resize: vertical;
    max-height: 350px;
    min-height: 150px;
    width: 100%;
    padding: 10px;
}


.reviews-info{
    padding: 39px 48px 39px 48px;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    display: flex;
    margin-bottom: 40px;
}

.reviews-content {
    display: flex;
}

.reviews-content svg {
    flex: 0 0 100px;
    display: flex;
}

.reviews-btn {
    width: 240px;
    margin-top: 10px;
    padding: 5px 5px;
    border: none;
    background-color: #331958;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}


.reviews-btn:hover {
    background-color: #4e2888;
}

.reviews-people {
    padding: 48px 48px;
    border: 1px solid #e5e5e5;
    margin: 40px 0 30px 0;
}


.reviews-people__inner {
    display: flex;
    margin-bottom: 25px;
}

.reviews-people__inner i {
    margin-right: 25px;
}

.reviews-people_head {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.reviews-people_head article {
    display: flex;
    flex-direction: column;
}

.rating {
    margin-bottom: 20px;
}
